name: Commit Status On PR

# To trigger the check
on: pull_request
  
jobs:
  add-commit-status:
    runs-on: ubuntu-latest
    # permissions:
    #   checks: write   # Permission to create a Check Run
    #   contents: write # Permission to write a repository_dispatch requests
    steps:
      - name: Create Commit Status
        env:
          GH_TOKEN: ${{ github.token }} # Expose the token for GH CLI
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            -H "Authorization: Bearer ${{ github.token }} " \
            https://api.github.com/repos/${{ github.repository }}/statuses/${{ github.event.pull_request.head.sha }} \
            -d '{"state":"pending","target_url":"https://example.com/build/status","description":"Getting PR info","context":"tyler/testing/pr-commit-status"}'
            
      - name: Processing        
        run: sleep 10

      - name: Get Merge Base
        env:
          GH_TOKEN: ${{ github.token }} # Expose the token for GH CLI
        run: |
          MERGE_BASE_SHA=$(gh api -X POST -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            -f name='Super Check' \
            -f head_sha='${{ github.event.pull_request.head.sha }}' \
            -f status='queued' \
            -f 'output[title]=My Check Run Title' \
            -f 'output[summary]=A *fancy* summary' \
            -f 'output[text]=More detailed Markdown **text**' \
            --jq '.base.sha' \
            /repos/${{ github.repository }}/pulls/${{ github.event.number }})
          echo "MERGE_BASE_SHA=$(echo $MERGE_BASE_SHA)" >> $GITHUB_ENV

      - name: Update Status
        env:
          GH_TOKEN: ${{ github.token }} # Expose the token for GH CLI
        run: |        
          details='{"state":"success","target_url":"https://example.com/build/status","description":"Got merge base '
          details+="$MERGE_BASE_SHA"
          details+='","context":"tyler/testing/pr-commit-status"}'

          echo $details
          
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            -H "Authorization: Bearer ${{ github.token }} " \f
            https://api.github.com/repos/${{ github.repository }}/statuses/${{ github.event.pull_request.head.sha }} \
            -d $details

        
        
