name: Identical Commit Status On PR

# To trigger the check
on: pull_request
  
jobs:
  add-identical-commit-status-pr:
    runs-on: ubuntu-latest
    # permissions:
    #   checks: write   # Permission to create a Check Run
    #   contents: write # Permission to write a repository_dispatch requests
    steps:
      - name: Create Commit Status PR
        env:
          GH_TOKEN: ${{ github.token }} # Expose the token for GH CLI
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            -H "Authorization: Bearer ${{ github.token }} " \
            https://api.github.com/repos/${{ github.repository }}/statuses/${{ github.sha }} \
            -d '{"state":"failure","target_url":"https://example.com/build/status-pr-${{ github.event.number }}","description":"Commit status on PR succeeded! ${{ github.sha }}","context":"tyler/testing/identical-commit-status-merge-commit"}'            
